
@{
    ViewBag.Title = "Request Manager";
}

<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>Next Generation E-Procurement</h1>
                    <p class="lead">
                        <!--The Procurement cycle is the cyclical process of key steps when procuring goods or services. This interactive tool has been developed to guide members through the procurement process.-->
                        In the last 5 years of eSolution, RequestPool is the only technology in the area of eSourcing that supports unique tactical process to promote strategic purchasing with a specific platform utilized to agglomerate all the smart tools to achieve the optimum outcome with minimal number of steps.
                    </p>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>Plan, Source, Manage.</h1>
                    <p class="lead">
                        RequestPool eSourcing and Bidding Platform stands as one of the high levels of process efficiency that is achieved through two-way ERP integration, including the entry of information records as well as automated document transfers.
                    </p>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
</section><!--/#main-slider-->
<section id="features">
    <div class="container">
        <div class="box first">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-apple icon-md icon-color1 hidden"></i>
                        <img src="~/wwwroot/_front/images/one-shot.png"/>
                        <h4>One-Shot</h4>
                        <p style="text-align:justify">
                            RequestPool Web Application is designed to achieve clean one-shot automated data alignment ready for analysis, review and select.
                        </p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-android icon-md icon-color2 hidden"></i>
                        <img src="~/wwwroot/_front/images/excel.png" />
                        <h4>Excel-like Forms</h4>
                        <p style="text-align:justify">
                            Suppliers can submit their offers on an online Excel-like forms and send it over the portal along with their authenticated documents.
                        </p>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <i class="icon-windows icon-md icon-color3 hidden"></i>
                        <img src="~/wwwroot/_front/images/time.png" />
                        <h4>Save Time</h4>
                        <p style="text-align:justify">
                            This approach allows saving time, effort, manhours, proper communication specifically with vendors and generally with other parties, to allow buyers / engineers to focus more on negotiation and delivery eliminating the clerical work, that will reflect into more time share in productivity for faster, accurate and reliable decisions.
                        </p>
                    </div>
                </div><!--/.col-md-4-->
               
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->

<section id="contact">
    <div class="container">
        <div class="box last">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Contact Us</h1>
                    <h4>E-PROCUREMENT SOFTWARE DEMO</h4>
                    <div>
                        <a href="mailto://info@requestpool.com">info@requestpool.com</a>
                    </div>
                    <h4>E-PROCUREMENT SOFTWARE SUPPORT</h4>
                    <div>
                        <a href="mailto://support@requestpool.com">support@requestpool.com</a>
                    </div>
                    <div class="row hidden">
                        <div class="col-md-6">
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                        <div class="col-md-6">
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#contact-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <strong>Copyright &copy; 2017.</strong> All rights reserved.
            </div>
        </div>
    </div>
</footer><!--/#footer-->