@model Foundation.Templates.RegistrationTemplateModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Hello, @Model.Name
    <br />
    Welcome to Request Manager,you have registered using the username <b>@Model.Email</b>
    <br />
    Go to <a href="@Model.Url">@Model.Url</a> and access your account.
</body>
</html>